.theme-light {
  --font-color: #000000;
  --bg-color: #ffffff;
}
.theme-dark {
  --font-color: #ffffff;
  --bg-color: #000000;
}

body {
  background-color: var(--bg-color);
  transition: background-color 0.25s ease-in;
}
